<%= form_with(model: @activity, local: true) do |f| %>

  <%= f.hidden_field :created_by, value: current_user.id %>

  <div class="form-group">
    <%= f.label :activity_type %>

    <%= f.collection_select :activity_type, Type.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>

    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :distance %>

    <%= f.text_field :distance, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :calories %>

    <%= f.text_field :calories, class: "form-control" %>
  </div>

  <%= f.hidden_field :shoes_used, value: @shoe.id %>

  <%= f.submit "Create activity", class: "btn btn-block btn-outline-secondary" %>
<% end %>
